.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-subtask-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
}

.add-subtask-form-container {
    display: flex;
    flex-direction: column;
}

.add-subtask-form-header {
    display: flex;
    justify-content: space-between;
}

.add-subtask-form-header-close-button {
    cursor: pointer;
}