.card-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.card-container:hover {
    transform: scale(1.05);
}

.card-icon {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 100%;
    background-color: #ffffff;
}

.card-text {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.card-text h2 {
    font-weight: 600;
    font-size: 1.3rem;
}

.card-text h3 {
    line-height: 0.7;
    font-size: 1.6rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .card-text h2 {
        font-size: 1.8rem;
    }
    
    .card-text h3 {
        font-size: 2rem;
    }
}
